.login-form-container {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  .login-image {
    max-width: 100%;
    border-radius:  50%;
  }
  .fp {
    font-size: 0.9rem;
    color: #888;
    display: block;
    margin-top: 10px;
    text-align: right;
  }
  .ask {
    top: 595px;
left: 906px;
width: 160px;
height: 20px;
text-align: left;
font: normal normal normal 15px/20px Roboto;
letter-spacing: 0px;
color: #ADADAD;
opacity: 1;
  }
  .span-login {
    font-weight: bold;
    color: #d9534f;
  }
  .button-radius {
    border-radius: 20px;
    width: 138px;
  }
  .adj{
    width: 308px;
  }
  
  .login{
    width:120px
  }

 .header{
    
text-align: left;
font: normal normal 900 40px/53px Roboto;
letter-spacing: 0px;
color: #000000;
opacity: 1
  }